:root {
    --red-color: #EF5350;
    --low-red-color: #ef5350b6;
    --gray-background-color: #FFFFFF;
    --red-color-opacity: rgba(56, 97, 157, 0.25); /* Define your blue color with opacity */
    --blue-color: #345ea2;
    --text-color: #454444;
    --text-color-light-gray: rgb(89, 88, 88);
    --yellow-color: #f4c61c;
    --light-gray-color: #eaecee;
    --gray-opacirt-background: #9696967e;
  }