#popUpContent {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray-opacirt-background);
    position: fixed;
    box-shadow: 10px 10px 5px #cfd1d0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popUpBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40vw;
    height: 30vh;
    background-color: white;
    text-align: center;
}


